<!--
  <div (click)="getTest()">aaaaaa</div>
-->

<app-alert></app-alert>

<div class="container">
  <div class="group-box">
    <div>
      <div>ユーザー名</div>
      <div>
          <input
            [(ngModel)]="username"
            class="form-control">
      </div>
    <div>
      <div>部屋選択</div>
      <div>
        <select
          #room class="form-control"
          (change)="changeRoom(room.value)">
          <option value="test1">test1</option>
          <option value="test2">test2</option>
          <option value="test3">test3</option>
          <option value="test4">test4</option>
        </select>
      </div>
    </div>
    <div>
      <div>グループ</div>
      <div><input [(ngModel)]="groupname" class="form-control"></div>
    </div>
    <div>
      <button
          class="btn btn-default"
          (click)="connection()">
          接続
      </button>
      <button
        class="btn btn-default"
        (click)="disconnection()">
        切断
    </button>
    </div>
    <div>
      <div class="state-connect"
        *ngIf="checkConnection(); else elseBlock">
            ON
        </div>
        <ng-template #elseBlock>
          <div class="state-disconnect">OFF</div>
        </ng-template>
    </div>
  </div>
  <div class="chat-box">
      <div class="art-image-box">
        ログインユーザー
        <ng-container *ngFor="let usa of users; let i = index">
          <div>{{usa}}</div>
        </ng-container>
      </div>
  </div>

  <div class="hideo-box">
    <div id="videoBox">
        <video class="hideon" id="myVideo" width="150" height="112" autoplay="1" ></video>
    </div>

    <div class="button" (click)="hideoOn()">ヒデオン</div>
    <div class="button" (click)="hideoOff()">ヒデオフ</div>
    <div class="button" (click)="hideonSword()">ヒデオンソード</div>
    <div class="button" (click)="hideonGun()">ヒデオンガン</div>
    <div class="button" (click)="hideoOndemand('delivery')">ヒデオオンデマンド</div>
    <div class="button" (click)="hideoOndemand('reception')">ヒデオオンプレミス</div>
    <div class="button" (click)="hideoOndemand('mutual')">ヒデオバイディレクショナル</div>
  </div>
</div>

