

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    float: left;
    width: 100%;
}

.group-box {
    width: 100%;
    height: 80px;
}

.group-box > div {
    position: relative;
    float: left;
    width: 200px;
}
.chat-box {
    width: 100%;
    height: 450px;
}
.chat-box > div {
    position: relative;
    float: left;
    margin: 10px;
}
.chat-list {
    width: 200px;
    height: 400px;
    border: solid 1px rgba(200,200,200,1);
}

.list-group {
    list-style: none;
}
.list-group > {
    position: relative;
    float: left;
    width: 100%;
    height: 15px;
    margin: 0px;
    padding: 0px;
}
.send-box {

}

.art-box {
    width: 700px;
    height: 400px;
    border: solid 1px rgba(200,200,200,1);
}

.art-tool {
    position: absolute;
    top: 360px;
    width: 700px;
    height: 20px;
}

.art-tool-palet {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(100,100,100,1);

    margin: 0 5px;
    cursor: pointer;
}

.art-image-show {
    position: absolute;
    top: 0;

}

.drag-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

.state-connect {
    font-weight: bolder;
    color: rgba(150,150,150,1);
    text-align: center;
    line-height: 5em;
    position: relative;
    right: 10px;
    width: 80px;
    height: 80px;
    background-color: rgb(117, 255, 104);
    box-shadow: 1px 1px 2px rgb(83, 182, 74);
    border-radius: 10px;
}

.state-disconnect {
    font-weight: bolder;
    color: rgba(150,150,150,1);
    text-align: center;
    line-height: 5em;
    position: relative;
    right: 10px;
    width: 80px;
    height: 80px;
    background-color: rgb(221, 221, 221);
    box-shadow: 1px 1px 2px rgb(139, 139, 139);
    border-radius: 10px;
}

.hideo-recorder {
    position: absolute;
    top: 50px;
    right: 180px;
    width: 150px;
    height: 100%;    
}

.hideo-player {
    position: relative;
    float: left;
}

.hideo-buttom{
    size: 0.8em;
    text-align: center;
    line-height: 1.5em;
    position: relative;
    float: left;
    width: 60px;
    height: 25px;
    margin: 5px;
    border: solid 1px rgba(100,100,100,1);
    border-radius: 5px;
}

.hideo-box {
    position: absolute;
    top: 50px;
    right: 5px;
    width: 150px;
    height: 100%;
}

.hideon {
    position: relative;
    float: left;
    width: 150px;
    margin: 5px 0;
    border-radius: 50px;
    border: solid 1px rgba(100,100,100,1);
    box-shadow: 0px 0px 5px rgba(150,150,150,1);
}


.button {
    font-size: 0.8em;
    line-height: 2em;
    position: relative;
    float: left;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 25px;
    margin: 5px 0;
    border: solid 1px rgba(100,100,100,1);
    border-radius: 5px;
}
.button:hover {
    background-color: rgba(150,150,150,1);
}

.selected {
    background-color: rgba(150,150,150,1);
}