<!--
  <div (click)="getTest()">aaaaaa</div>
-->

<app-alert></app-alert>

<div class="container">
  <div class="group-box">
    <div>
      <div>ユーザー名</div>
      <div>
          <input
            [(ngModel)]="username"
            class="form-control"
            (change)="checkIronMan()">
      </div>
      <div *ngIf="checkIronMan()">
          <select
            #room class="form-control"
            (change)="changeRoom(room.value)">
            <option value="マーク１">マーク1</option>
            <option value="マーク２">マーク２</option>
            <option value="マーク３">マーク３</option>
            <option value="マーク４">マーク４</option>
            <option value="マーク５">マーク５</option>
            <option value="マーク６">マーク６</option>
            <option value="マーク７">マーク７</option>
            <option value="マーク８">マーク８</option>
            <option value="マーク９">マーク９</option>
            <option value="マーク１０">マーク１０</option>
            <option value="マーク１１">マーク１１</option>
            <option value="マーク１２">マーク１２</option>
            <option value="マーク１３">マーク１３</option>
            <option value="マーク１４">マーク１４</option>
            <option value="マーク１５">マーク１５　スニーキー</option>
            <option value="マーク１６">マーク１６　ナイトクラブ</option>
            <option value="マーク１７">マーク１７　ハートブレイカー</option>
            <option value="マーク１８">マーク１８　カサノヴァ</option>
            <option value="マーク１９">マーク１９　タイガー</option>
            <option value="マーク２０">マーク２０　パイソン</option>
            <option value="マーク２１">マーク２１　ミダス</option>
            <option value="マーク２２">マーク２２　ホットロッド</option>
            <option value="マーク２３">マーク２３　ジェイズ</option>
            <option value="マーク２４">マーク２４　タンク</option>
            <option value="マーク２５">マーク２５　ストライカー</option>
            <option value="マーク２６">マーク２６　ガンマ</option>
            <option value="マーク２７">マーク２７　ディスコ</option>
            <option value="マーク２８">マーク２８　ジャック</option>
            <option value="マーク２９">マーク２９　フィドラー</option>
            <option value="マーク３０">マーク３０　ブルースティール</option>
            <option value="マーク３１">マーク３１　ピストン</option>
            <option value="マーク３２">マーク３２　ロミオ</option>
            <option value="マーク３３">マーク３３　シルバーセンチュリオン</option>
            <option value="マーク３４">マーク３４　サウスポー</option>
            <option value="マーク３５">マーク３５　レッドスナッパー</option>
            <option value="マーク３６">マーク３６　ピースメーカー</option>
            <option value="マーク３７">マーク３７　ハンマーヘッド</option>
            <option value="マーク３８">マーク３８　イゴール</option>
            <option value="マーク３９">マーク３９　スターブースト</option>
            <option value="マーク４０">マーク４０　ショットガン</option>
            <option value="マーク４１">マーク４１　ボーンズ</option>
            <option value="マーク４２">マーク４２</option>
            <option value="マーク４３">マーク４３</option>
            <option value="マーク４４">マーク４４　ハルクバスター</option>
            <option value="マーク４５">マーク４５</option>
            <option value="マーク４６">マーク４６</option>
            <option value="マーク４７">マーク４７</option>
            <option value="マーク４８">マーク４８</option>
            <option value="マーク４９">マーク４９　ハルクバスターMark2</option>
            <option value="マーク５０">マーク５０　ブリーディングエッジアーマー</option>
          </select>
        </div>
    </div>
    <div>
      <div>部屋選択</div>
      <div>
        <select
          #room class="form-control"
          (change)="changeRoom(room.value)">
          <option value="test1">test1</option>
          <option value="test2">test2</option>
          <option value="test3">test3</option>
          <option value="test4">test4</option>
        </select>
      </div>
    </div>
    <div>
      <div>グループ</div>
      <div><input [(ngModel)]="groupname" class="form-control"></div>
    </div>
    <div>
      <button
          class="btn btn-default"
          (click)="connection()">
          接続
      </button>
      <button
        class="btn btn-default"
        (click)="disconnection()">
        切断
    </button>
    </div>
    <div>
        <div class="state-connect" *ngIf="checkConnection(); else elseBlock">
            ON
        </div>
        <ng-template #elseBlock>
          <div class="state-disconnect">OFF</div>
        </ng-template>
    </div>
  </div>
  <div class="chat-box">
    <div class="chat-list">
      <ul class="list-group">
        <li
          *ngFor="let msg of messages"
          class="list-group-item">
          {{msg}}
        </li>
      </ul>
    </div>
    <div
      class="art-box"
      (dragover)="onDragOverHandler($event)">

        <canvas id="artbox"
          width=700 height=400></canvas>
        <div class="drag-screen" *ngIf="onDrag"
        (dragleave)="onDragLeaveHandler($event)"
        (drop)="onSelectHandler($event)">画像をドラッグ</div>
      <div class="art-tool">
        <ng-container *ngFor="let c of canvasColorList; let i = index">
          <div
            [style.backgroundColor]="c"
            class="art-tool-palet"
            (click)="setPaintColor(c)">
          </div>
        </ng-container>
      </div>
      <div class="art-image-box">
        <ng-container *ngFor="let image of Images; let i = index">
          <img
            src="{{image}}"
            class="art-tool-palet"
            (click)="imageReview(i)" />
        </ng-container>
      </div>
      <div class="art-image-box">
        ログインユーザー
        <ng-container *ngFor="let usa of users; let i = index">
          <div>{{usa}}</div>
        </ng-container>
      </div>
      <div class="art-image-show" *ngIf="showImage" (click)="imageReview()">
        <img width=600 src="{{imageData}}"/>
      </div>
    </div>

  </div>
  <div class="send-box">
    <div class="row">
      <div class="col-10">
          <input
            #sendMessage class="form-control"
            (keydown.meta.enter)="send(sendMessage.value); sendMessage.value='';"></div>
      <div class="col-2">
        <button class="btn btn-default" (click)="send(sendMessage.value); sendMessage.value='';">送信</button>
      </div>
    </div>
  </div>
  <div class="hideo-recorder">
    <div id="hideo-player">
      <video class="hideon" id="player1" width="150" height="112" autoplay="1" playsinline="true"></video>
    </div>
    <div class="hideo-buttom"
      (click)="start_recorde('player1')">録画</div>
    <div class="hideo-buttom"
      (click)="stop_recorde()">STOP!</div>
    <div class="hideo-buttom"
      (click)="play_recorde()">再生</div>
    <div class="hideo-buttom">
      <a (click)="dl_recorde('dl_recorde')" id="dl_recorde">DL</a></div>
  </div>
  <div class="hideo-box">
    <div id="videoBox">
        <video class="hideon" id="myVideo" width="150" height="112" autoplay="1" playsinline="true"></video>
    </div>

    <div class="button" (click)="hideoOn()">ヒデオン</div>
    <div class="button" (click)="hideoOff()">ヒデオフ</div>
    <div class="button" (click)="hideonSword()">ヒデオンソード</div>
    <!-- <div class="button" (click)="hideonGun()">ヒデオンガン</div> -->
    <div class="button"
      (click)="hideoOndemand('delivery')"
      [style.background-color]="checkHideoOndemand('delivery')">
      ヒデオオンデマンド</div>
    <div class="button"
      (click)="hideoOndemand('reception')"
      [style.background-color]="checkHideoOndemand('reception')">
    ヒデオオンプレミス</div>
    <div class="button"
      (click)="hideoOndemand('mutual')"
      [style.background-color]="checkHideoOndemand('mutual')">ヒデオバイディレクショナル</div>
  </div>


</div>

